<div>
    <h1><a href="/logout" style="float:right">Logout</a></h1>
    <marquee behavior="scroll" direction="">
        <h1>You did it!!!!  Yaaaaaaaaaaaaaaaaaayyyyyyyyyyyyyyyyyyyyyyyyyyyyyy!!!!</h1>
    </marquee>
</div>